<div id="container">
  <div class="alert"><%= flash[:message] %></div>
  <h3 class="title">Create your content here</h3>
  <form id="content-submit" name="content-submit" method="post" action="/new/create">
    <input id="title" name="title" type="text" placeholder="Enter your title here..." required = "true" />
    <br/>
    <p class="center">
      <textarea id="content" name="content"
                placeholder="Enter your content here..." required = "true"></textarea>
    </p><br/>
    <input id="submit" name="submit" type="submit" class="button orange right" value="Create" formnovalidate="true" />
    <br/>
    <br/>
  </form>
</div>