body {
   font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
   font-size: 13px;
   font-style: normal;
   color: #333;
}

#container {
    margin: 0 auto;
    width: 760px;
}

.content {
    /* Should be populated */
}

.time {
    font-size: 10px;
    color: gray;
}