<!DOCTYPE html>
<html>
  <head>
    <title>Just cpypst!</title>
    <%= stylesheet_link_tag    "application" %>
    <link href="/assets/pretty/prettify.css" rel="stylesheet" type="text/css"/>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/assets/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
    <script src="/assets/pretty/prettify.js"></script>
    <script>
      $(document).ready(function() {
        prettyPrint();
      });
      tinyMCE.init({
        mode : "textareas",
        theme : "advanced",
        plugins : "emotions,spellchecker,advhr,insertdatetime,preview",
        theme_advanced_buttons1 : "newdocument,|,bold,italic,underline,|,justifyleft,justifycenter,justifyright,fontselect,fontsizeselect,formatselect",
        theme_advanced_buttons2 : "cut,copy,paste,|,bullist,numlist,|,outdent,indent,|,undo,redo,|,link,unlink,anchor,image,|,preview,|,forecolor,backcolor",
        theme_advanced_buttons3 : "insertdate,inserttime,|,spellchecker,advhr,,removeformat,|,sub,sup,|,charmap,emotions",      
        theme_advanced_toolbar_location : "top",
        theme_advanced_toolbar_align : "left",
        theme_advanced_statusbar_location : "bottom",
        theme_advanced_resizing : true
      });
    </script>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= yield %>
    <script type="text/javascript" src="http://anywhere.embed.ly/scripts/056b42c8e04d4461aebb264159b1c8a8.js?t=1320029129"></script>
  </body>
</html>
